.buy-button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #8A9B6E;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
  }
  
  .buy-button:hover {
    background-color: #808276;
  }
  